---
import ProgramAreaSidebar from "@/components/ProgramAreaSidebar.astro";
import Accordian from "../components/Accordian.astro";
import Announcements from "../components/Announcements.astro";
import Collection from "../components/Collection.astro";
import SidePageNavigation from "../components/SidePageNavigation.astro";
import RootLayout from "./RootLayout.astro";

const { programAreas, posts, pageTitle } = Astro.props;
---

<RootLayout pageTitle={pageTitle}>
  <div class="display-flex">
    <ProgramAreaSidebar />
    <SidePageNavigation>
      <h1>{pageTitle}</h1>
      <slot />
      <Announcements title={`Recently Updated For ${pageTitle}`} />
      <div
        class="usa-accordion usa-accordion--multiselectable"
        data-allow-multiple
      >
        {
          programAreas.map((area: any) => (
            <>
              <h2 id={area.title}>{area.title}</h2>
              {area.children && area.children.length > 0 && (
                <>
                  {area.children.map(async (child: any) => (
                    // TODO Filter posts
                    <Accordian
                      id={child.title}
                      title={child.title}
                      posts={posts.filter(
                        (post: any) => post.data.subcategory === child.title
                      )}
                    />
                  ))}
                </>
              )}
              {!area.children && (
                <>
                  {posts.map((post: any) => (
                    <Collection post={post} />
                  ))}
                </>
              )}
            </>
          ))
        }
      </div>
    </SidePageNavigation>
  </div>
</RootLayout>
